<div class="form-group">
	<label for="movieEditorName">Name</label>
	<input type="text" id="movieEditorName" class="form-control">
</div><!-- .form-group -->

<div class="form-group">
	<label for="movieEditorYear">Year</label>
	<input type="number" min="1878" max="2017" id="movieEditorYear" class="form-control">
</div><!-- .form-group -->

<div class="form-group">
	<label for="movieEditorImagePath">Image Path</label>
	<input type="text" id="movieEditorImagePath" class="form-control">
</div><!-- .form-group -->

<div class="form-group">
	<button class="btn btn-primary btn-lg btn-block">Save</button>
	<button class="btn btn-default btn-lg btn-block">Return to list</button>
</div><!-- .form-group -->